@media screen and (max-width: 425px) {
    .navbar-section {
        flex-direction: column;
        padding: 0;
    }

    .logo-container {
        margin: 50px 0;
    }

    nav>ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin-bottom: 25px;
    }

    nav ul li a {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .header-container {
        flex-direction: column-reverse;
        padding: 0px 50px;
    }

    .header-title-left {
        width: 100%;
        margin: auto;
    }

    .header-title-left .header-title-play {
        font-size: 2rem;
    }

    .header-title-left .header-title-goat {
        font-size: 4rem;
    }

    .header-title-left .header-title-description {
        font-size: 1rem;
    }

    .header-title-right {
        width: 100%;
        margin: auto;
    }

    .online-container {
        flex-direction: column;
    }

    .online-funny-games-section .games-title {
        font-size: 2rem;
        margin-top: 0px;
    }

    .online-funny-games-section .games-description {
        font-size: 0.8rem;
    }

    /* play instant section start */
    .play-instantly-container {
        flex-direction: column;
        padding: 50px;
        row-gap: 50px;
    }

    .play-instantly-left {
        width: 100%;
        text-align: center;
    }

    .play-instantly-right {
        width: 100%;
        position: relative;
        margin-left: 0px;
    }

    .play-instantly-right .position-photo {
        width: 50%;
        margin-left: 20%;
    }

    .play-instantly-right .position-img {
        right: 172px;
        top: 150px
    }

    /* play instant section end */
}


@media screen and (min-width: 425px) and (max-width: 1024px) {
    .navbar-section {
        flex-direction: column;
        padding: 0px 50px;
    }

    .logo-container {
        margin: 50px 0;
    }

    nav>ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin-bottom: 25px;
    }

    nav ul li a {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .header-container {
        flex-direction: column-reverse;
        padding: 50px;
    }

    .header-title-left {
        width: 100%;
        padding: 50px 0;
        margin: auto;
        text-align: center;
    }

    .header-title-left .header-title-play {
        font-size: 2.5rem;
    }

    .header-title-left .header-title-goat {
        font-size: 5rem;
    }

    .header-title-left .header-title-description {
        font-size: 1rem;
    }

    .header-title-right {
        width: 100%;
        margin: 30px auto;
    }

    .online-container {
        flex-direction: column;
    }

    .online-funny-games-section .games-title {
        margin-top: 0px;
    }

    /* play instant section start */

    .play-instantly-container {
        flex-direction: column;
        padding: 50px;
        height: 500px;
    }

    .play-instantly-left {
        width: 100%;
        text-align: center;
        margin: 50px auto;
    }

    .play-instantly-left h1 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 40px;
    }

    .play-instantly-right {
        width: 100%;
        margin-left: 50px;
        position: relative;
    }

    .play-instantly-right .position-photo {
        width: 400px;
    }

    .play-instantly-right .position-img {
        width: 180px;
        position: absolute;
        left: 50px;
        top: 240px;
    }

    /* play instant section end */
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
    .navbar-section {
        padding: 0px 50px;
    }

    .header-container {
        padding: 50px;
    }

    .header-title-left {
        width: 50%;
        margin: auto;
        padding: 50px;
    }

    .header-title-right {
        width: 50%;
        margin: auto;
    }

    .online-funny-games-section .games-title {
        margin-top: 0px;
    }

    /* play instant section start */

    .play-instantly-container {
        display: flex;
        padding: 50px;
        column-gap: 50px;
        height: 500px;
    }

    .play-instantly-left {
        width: 50%;
        text-align: right;
        margin: auto;
    }

    .play-instantly-right {
        width: 50%;
        position: relative;
    }

    .play-instantly-right .position-photo {
        width: 400px;
        margin-left: 50px;
    }

    .play-instantly-right .position-img {
        width: 180px;
        position: absolute;
        left: -50px;
        top: 240px;
    }

    /* play instant section end */
}