@media screen and (max-width: 425px) {
    header {
        flex-direction: column;
        padding: 0;
    }

    .logo-container {
        margin: 50px 0;
    }

    nav>ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin-bottom: 25px;
    }

    nav ul li a {
        margin-left: 0;
        font-size: 1.5rem;
    }
}


@media screen and (min-width: 425px) and (max-width: 1020px) {
    header {
        flex-direction: column;
        padding: 0px 50px;
    }

    .logo-container {
        margin: 50px 0;
    }

    nav>ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin-bottom: 25px;
    }

    nav ul li a {
        margin-left: 0;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1019px) and (max-width: 1500px) {
    header {
        padding: 0px 50px;
    }

}