@media screen and (max-width: 425px) {
    .navbar-section {
        flex-direction: column;
        padding: 0;
    }

    .logo-container {
        margin: 50px 0;
    }

    nav>ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin-bottom: 25px;
    }

    nav ul li a {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .header-container {
        flex-direction: column-reverse;
        padding: 0px 50px;
    }

    .header-title-left {
        width: 100%;
        margin: auto;
    }

    .header-title-left .header-title-play {
        font-size: 2rem;
    }

    .header-title-left .header-title-goat {
        font-size: 4rem;
    }

    .header-title-left .header-title-description {
        font-size: 1rem;
    }

    .header-title-right {
        width: 100%;
        margin: auto;
    }
}


@media screen and (min-width: 425px) and (max-width: 1024px) {
    .navbar-section {
        flex-direction: column;
        padding: 0px 50px;
    }

    .logo-container {
        margin: 50px 0;
    }

    nav>ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin-bottom: 25px;
    }

    nav ul li a {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .header-container {
        flex-direction: column-reverse;
        padding: 50px;
    }

    .header-title-left {
        width: 100%;
        padding: 50px 0;
        margin: auto;
        text-align: center;
    }

    .header-title-left .header-title-play {
        font-size: 2.5rem;
    }

    .header-title-left .header-title-goat {
        font-size: 5rem;
    }

    .header-title-left .header-title-description {
        font-size: 1rem;
    }

    .header-title-right {
        width: 100%;
        margin: 30px auto;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1500px) {
    .navbar-section {
        padding: 0px 50px;
    }

    .header-container {
        padding: 100px 50px;
    }

    .header-title-left {
        width: 50%;
        margin: auto;
        padding: 50px;
    }

    .header-title-right {
        width: 50%;
        margin: auto;
    }
}